/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p{
    color:#FFFFFF;
    font-family:"Arial";
}


span0 {
    background-color:#999;
     padding:8px;
}

.header {
    margin-bottom:20px;
    padding:0px;
    color:#FFF;
    background-color:#900;
}



span{
    color:#0C00FF;
    background-color:#FFFB00; 
}


span22{
    background-color:#788;
}

img{
    height:250px;
    width:1200px;
    margin-left:auto;
    display:block;
    margin-right:auto;
    
    /*position:absolute;*/
    /*clip:rect(100,10px,100px,100px);*/
}



.completed-todo{
    text-decoration:line-through;
}

