<div class = 'card'>
    <h2> Edit this To-do </h2>
    <form action = " # ">
    <input class = "text-input" type = "text" placeholder = "add a new to-do" id = "itemname">
    
    <input class = "text-input" type = "number" placeholder = "number of pomodoros" id = "pomodoros">

    <input class = "button" type = "submit" id = "submit" value = 'submit'  >
    <a href = "/todo/index " class = "simple-link"> Go Back!!!
</a>    
    </form>
</div>